<hr>
<div class="footer clearfix grid-x grid-padding-x">
  <div class="large-4 medium-6 cell ">
    <div style="color:nav" class="pad">
      <div class="text-center">
        <i class="fi-shopping-cart size-72 text-center"> </i>
      </div>
      <p class="lad">
        Lorem ipsum dolor sit amet, consectetur. Rem dignissimos inventore
      </p>
      <li><small> Lorem ipsum dolor sit amet,</small></li>
      <li><small>consectetur adipisicing elit.</small></li>
      <li><small>Et deserunt autem libero molestias </small></li>
      <li><small>rem veniam, enim magnam harum </small></li>
    </div>
  </div>

  <div class="cell large-4 medium-6">
    <div class=" pad text-center" style="color: coal">
      <i class="fi-address-book size-72"> </i>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, accusantium quis doloremque nulla. Cum atque, porro eum
        vel delectus quas quasi sequi ut vitae harum reiciendis molestias maiores magnam eos minus, numquam voluptate
      </p>
    </div>
  </div>

  <div class="text-center cell large-4 medium-12">
    <div class="pad" style="color: tel">
      <i class="fi-heart size-72"> </i>
      <h6> &copy; The Robin Store 2017</h6>
      <ul class="no-bullet">
        <b>Look Us On </b>
        <li><small> <a> Facebook  </a></small></li>
        <li><small> <a>Instagram </a></small></li>
        <li><small> <a> Twitter </a> </small></li>
        <li> <small> Made by Loki </small> </li>
      </ul>
    </div>
  </div>
</div>