<footer class="footer">
  <div class="row m-0" style="height: auto; background : #f6f6f6">
    <div class="col-12 col-md-6 col-lg-7">
      <p class="lead text-center" style="margin-top:15px;line-height:">
        Newsletter Signup |
        <small>
          Track the deals that you love from offers.io
        </small>
      </p>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <form class="form-inline" style="margin-top:10px;">
        <label class="sr-only" for="inlineFormInputName2">
          Name
        </label>
<!--         /*/*/*<div style="width: 200px" class="group">*/*/*/
 -->          <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter email address" style="width:200px" type="text"/>
         <!--  <span class="highlight"></span>
        </div> -->
        <button class="btn btn-outline-dark mb-2" type="submit">
          Subscribe
        </button>
      </form>
    </div>
  </div>
  <br/>
  <div class="container-fluid row p-2" style="backgroud : #f8f8f8;margin: 0 auto">



    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <h3>
        Festival Deals
      </h3>
      <ul>
        <li>
          <a href="https://freekaamaal.com/diwali-offers">
            Diwali Offers
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/new-year-offers">
            New Year Offers
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/republic-day-offers">
            Republic Day Offers
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/holi-gifts-offers">
            Holi Offers
          </a>
        </li>
        <li>
          <a href="/valentine-day-offers/">
            Valentine's Day Offers
          </a>
        </li>
        <li>
          <a href="/rakshabandhan-offers/">
            Rakhi Offers
          </a>
        </li>
        <li>
          <a href="/independence-day-offers/">
            Independence Day Offers
          </a>
        </li>
        <li>
          <a href="/dussehra-offers/">
            Dussehra Offers
          </a>
        </li>
        <li>
          <a href="/deals/amazon-great-indian-festive-sale/">
            Amazon Great Indian Festive Sale
          </a>
        </li>
        <li>
          <a href="/deals/flipkart-big-billion-day-sale/">
            Flipkart Big Billion Day Sale
          </a>
        </li>
        ​
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <h3>
        Top Stores
      </h3>
      <ul>
        <li>
          <a href="https://freekaamaal.com/jabong">
            Jabong Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/tatacliq-coupons">
            TataCliq Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/shopclues">
            Shopclues Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/koovs">
            Koovs Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/paytm">
            Paytm Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/biryaniblues">
            Biryani Blues Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/zivame">
            Zivame Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/abof">
            Abof Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/goair">
            Goair Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/justrelief">
            Justrelief Coupons
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/zomato">
            Zomato Coupons
          </a>
        </li>
        <!--<li><a href="#">Book Store</a></li> <li><a href="#">Deal Alerts</a></li>-->
      </ul>
    </div>



    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <h3>
        Need Help ?
      </h3>
      <ul>
        <li>
          <a href="https://freekaamaal.com/getting-started">
            Getting Started
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/contact-us">
            Contact Us
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/faq">
            FAQ's
          </a>
        </li>
        <!--<li><a href="#">Support</a></li>-->
        <li>
          <a href="https://freekaamaal.com/press">
            Press
          </a>
        </li>
      </ul>
    </div>


    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
      <h3>
        About
      </h3>
      <ul>
        <li>
          <a href="https://freekaamaal.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/advertise-with-us">
            Advertising Opportunities
          </a>
        </li>
        <li>
          <a href="https://freekaamaal.com/contact-us">
            Contact Us
          </a>
        </li>
        <li>
          <a href="http://careers.freekaamaal.com/">
            Work With Us
          </a>
        </li>
        <li>
          <a href="http://blog.freekaamaal.com" target="_blank">
            Blog
          </a>
        </li>
      </ul>
    </div>


    <div class="col-12 col-md-12 col-lg-4 social-media text-center">
      <h3>
        Follow Us
      </h3>
      <ul>
        <li>
          <a href="//www.facebook.com/pages/Offers.io/101046999940823" target="_blank">
            <img style="height:30px" src="images/social-media/facebook.svg" />
          </a>
        </li>
        <li>
          <a href="//twitter.com/Offers.io" target="_blank">
            <img style="height:30px" src="images/social-media/twitter.svg" />
          </a>
        </li>
        <li>
          <a href="//www.youtube.com/user/Offers.io" target="_blank">
            <img style="height:30px" src="images/social-media/youtube.svg" />
          </a>
        </li>
        <li>
          <a href="//www.linkedin.com/company/Offers.io" target="_blank">
            <img style="height:30px" src="images/social-media/linkedin.svg" />
          </a>
        </li>
      </ul>
    </div>


  </div>
  <br/>
  <div class="row m-0 p-1">
    <div class="col text-center p-0">
      <span style="color: #b2b1b1;padding-bottom: 10px;">
        <h4 style="margin:0">
          Offers.io
        </h4>
        <br/> Copyright 2010-2018. Offers.io. All Rights Reserved. All content, trademarks and logos are copyright of their respective
        owners.
        <p>
          <b>
            Disclaimer
          </b>
          : Offers.io is community platform where our users find and submit deals from various website across the world, we do not
          guarantee, approve or endorse the information or products available at these sites, nor does a link indicate any
          association with or endorsement by the linked site to Offers.io. Readers are requested to be cautious while shopping
          at newly launched and non-trusted e-commerce sites.
        </p>
      </span>
    </div>
  </div>
</footer>