<div class="footer clearfix grid-x grid-padding-x">

  <div class="large-4 medium-6 cell ">
    <p class="lad">
      Lorem ipsum dolor sit amet, consectetur. Rem dignissimos inventore, cupiditate, adipisci minima ipsum aliquam pariatur
    </p>
    <div class="grid-x grid-padding-y">
      <div class="cell small-8">
        <input type="text" placeholder="Sign up for newsLetter">
      </div>
      <div class="cell small-4 medium-3 large-4">
        <button class="button warning hllow expanded"> NewsLetter </button>
      </div>
    </div>
  </div>

  <div class="cell large-5 medium-6">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum architecto tenetur deserunt asperiores qui quos omnis architecto
      tenetur deserunt asperiores qui quos omn
    </p>
  </div>

  <div class="text-center cell large-3 medium-12">
    <h4> &copy; The Robin Store</h4>
    <ul class="no-bullet ">
      <b>Look Us On </b>
      <li> <a> Facebook  </a></li>
      <li> <a>Twitter </a></li>
      <li> <a>Instagram </a></li>
      <li> <small>Made With <i class="fi-heart size-18 footer-heart"> </i> by loki</small></li>
    </ul>
  </div>
</div>