<nav class="navbar navbar-expand-lg navbar-light" style="padding: 0.5 1 rem 0;margin-bottom:  0px">
  <a class="navbar-brand" href="/">
    <img src="images/supreme1.jpg" style="width:120px;margin-left:-5px;"/>
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          Stores
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu row p-1">
          {{#each stores}}
          <a class="dropdown-item col-6 col-md-4" href="/{{this.storeName}}">
            {{this.storeName}}
          </a>
          {{/each}}
          <a class="dropdown-item lead" href="/all-stores">
            <b>
              Show all Stores
            </b>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          Catagories
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu row">
          <a class="dropdown-item col-6 col-md-4" href="#">
            Action
          </a>
          <a class="dropdown-item col-6 col-md-4" href="#">
            Another action
          </a>
          <div class="dropdown-divider">
          </div>
          <a class="dropdown-item lead bold" href="#">
            <b>
              Show All Catagories
            </b>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          Coupons
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu clearfix row md-2">
          {{#each stores}}
          <a class="dropdown-item col-6" href="#">
            {{this.storeName}}
            <span class="badge ml-2 badge-primary float-right badge-pill mt-1">
              2
            </span>
          </a>
          {{/each}}
          <div class="dropdown-divider">
          </div>
          <a class="dropdown-item" href="#">
            <b>
              Show More Coupons
            </b>
          </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-0 my-lg-0">
      <div class="group">
        <input aria-label="Search" class="form-control mr-sm-0" onkeyup="showResults(this.value)" placeholder="Search Deals & Coupons" type="search"/>
        <span class="highlight">
        </span>
        <!-- <span class="bar">
        </span> -->
      </div>
      {{!--
      <button class="btn btn-dark my-2 my-sm-0" type="submit">
        Search
      </button>
      --}}
      <div style="position: relative;width: 100%;top:-1px">
        <div class="border" id="search-results">
        </div>
      </div>
    </form>
  </div>
</nav>
<!-- Button trigger modal -->
{{!--
<button class="btn btn-primary rounded" data-target="#exampleModal" data-toggle="modal" type="button">
  Launch demo modal
</button>
--}}
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Modal title
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">
          Close
        </button>
        <button class="btn btn-primary" type="button">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>