<div id="model" class="model grid-x grid-padding-x scroll">
  
  <img src="../images/close.png" style="position: absolute; right: 10px;" onclick="closemodel()">
  <div class="cell large-5 medium-12 small-12">
    <figure>
      <h5 id="pro-name"> </h5>
      <img id="image" src="">
      <figcaption>
        <a id="buy" href="" class="button hollow"> Buy </a>
        <button style="float:right" class="button hollow"> Add to cart </button>
      </figcaption>
    </figure>
  </div>

  <div class="clearfix border cell large-7 medium-12 small-12">
    <h4> Product Description</h4>
    <hr>
    <p id="description"></p><br>
    <h6 id="price"></h6>
    <h6 id="discount"></h6>
    <h6 id="amount"></h6>
    <button class="button"><b> Place Order </b> </button>
  </div>
</div>