<div class="column paginate clearfix">
	<a href="/page/{{#if previousPage}}{{previousPage}}{{/if}}" class="button {{#unless previousPage}}hide{{/unless}} float-left">&laquo; Previous Stories</a>
	<a href="/page/{{#unless nextPage}}2{{/unless}}{{nextPage}}" class="button float-right">Next Stories &raquo;</a>
</div>