<div style="{{#unless displayForm}}display:none{{/unless}}" id="login-card" class="login-card">
	{{#unless displayForm}}
	<button type="button" style="font-size:34px;position:absolute;left:4px;top:0px;" class="close" data-dismiss="login-card"
	 onclick="$('#login-card').fadeOut();" aria-label="Close"><span aria-hidden="true">×</span></button> {{/unless}}
	<div style="font-size:46px;text-align:center;color:#eb6864">
		{{!-- <i class="glyphicon glyphicon-user"> </i> --}}
		<h6 class="form-logo"> FASHION STORE </h6>
	</div>
	{{!--
	<p class="profile-name-card"> Lokendra Rawat </p> --}}
	<form method="post" action="/users/signin" class="form-signin">
	{{!-- <span class="reauth-email"> </span> --}}
		<label style="color:red;" class="help-text">{{messages}}</label>
		<input class="form-control" name="email" type="email" required placeholder="Email address" autofocus="true" value="lavcool9999@gmail.com"
		 id="inputEmail">
		<input class="form-control" name="password" type="password" required placeholder="Password" value="testtest" id="inputPassword">
		<input type="hidden" name="_csrf" value="{{csrfToken }}"> {{!--
		<div class="checkbox">
			<div class="checkbox">
				<label><input type="checkbox">Remember me</label>
			</div>
		</div> --}}
		<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">SIGN IN</button>
	</form>
	<a href="#" class="forgot-password">Forgot your password?</a>
	<p> New User <a id="changeSignin" class="forgot-password" href="/users/signup">Sign up</a></p>
</div>