<div style="display:none" id="login-card" class="login-card">
	<button style="position:absolute" type="button" onclick="$('#login-card').fadeOut();"> hello </button>
	<img src="/images/103.png" class="profile-img-card">
	<p class="profile-name-card"> </p>
	<form class="form-signin"><span class="reauth-email"> </span>
		<input class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail">
		<input class="form-control" type="password" required="" placeholder="Password" id="inputPassword">
		<div class="checkbox">
			<div class="checkbox">
				<label><input type="checkbox">Remember me</label>
			</div>
		</div>
		<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">SIGN IN</button>
	</form>
	<a href="#" class="forgot-password">Forgot your password?</a>
</div>