<div style="{{#unless displayForm}}display:none;{{/unless}}" id="signup-card" class="login-card">
	{{#unless displayForm}} <button type="button" style="font-size:34px;position:absolute;left:4px;top:0px;" class="close" data-dismiss="login-card"
	 onclick="$('#signup-card').fadeOut();" aria-label="Close"><span class="" aria-hidden="true">×</span></button>{{/unless}}
	<div style="font-size:46px;text-align:center;color:#eb6864">
		{{!-- <i class="glyphicon glyphicon-user"> </i> --}}
		<h6 class="form-logo"> FASHION STORE </h6>
	</div>
	{{!--
	<p class="profile-name-card"> Lokendra Rawat </p> --}}
	<form method="post" action="/users/signup" class="form-signin">
	{{!-- <span class="reauth-email"> </span> --}}
		<label style="color:red;" class="help-text">{{messages}}</label>
		<input class="form-control" name="name" type="text" required placeholder="User Name" autofocus value="loki" id="inputEmail">
		<input class="form-control" name="email" type="email" required placeholder="Email address" value="lavcool9999@gmail.com"
		 autofocus="" id="inputEmail">
		<input class="form-control" name="password" type="password" required placeholder="Password" value="testtest" id="inputEmail">
		<input class="form-control" type="password" required placeholder="Password Again" value="testtest" id="inputPassword">
		<input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!--
		<div class="checkbox">
			<div class="checkbox">
				<label><input type="checkbox">Remember me</label>
			</div>
		</div> --}}
		<button onclick="signup();" class="btn btn-primary btn-block btn-lg btn-signin">SIGN UP</button>
	</form>
	<a href="#" class="forgot-password">Forgot your password?</a>
	<p> Already a User <a id="change" class="forgot-password" href="/users/signin">Sign In</a></p>
</div>