<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <symbol id="shirt" viewbox="0 0 512 512">
    <title>
      shirt
    </title>
    <path d="M362.672,42.66h-53.328c0,29.414-23.938,53.336-53.344,53.336s-53.328-23.922-53.328-53.336h-53.336L0,127.996 l42.672,117.336l64-21.336V469.34h298.672V223.996l64,21.336L512,127.996L362.672,42.66z M456.375,218.527l-44.297-14.766 L384,194.395v29.602v224H128v-224v-29.602l-28.078,9.367l-44.297,14.766l-29.43-80.93L155,63.996h29.43 c9.18,30.844,37.75,53.336,71.57,53.336c33.828,0,62.391-22.492,71.562-53.336H357l128.812,73.602L456.375,218.527z">
    </path>
  </symbol>
  <symbol id="monitor" viewbox="0 0 511.999 511.999">
    <title>
      monitor
    </title>
    <g>
      <g>
        <path d="M481.091,27.937H30.909C13.866,27.937,0,41.803,0,58.846v310.819c0,17.043,13.866,30.909,30.909,30.909h154.26v22.49 c0,20.617-16.774,37.391-37.391,37.391h-33.997c-6.518,0-11.803,5.284-11.803,11.803c0,6.519,5.285,11.803,11.803,11.803h284.436 c6.518,0,11.803-5.284,11.803-11.803c0-6.519-5.285-11.803-11.803-11.803h-33.998c-20.617,0-37.391-16.774-37.391-37.391v-22.489 h154.26c17.043,0,30.91-13.866,30.91-30.909V58.846C512,41.803,498.134,27.937,481.091,27.937z M195.92,460.457 c8.046-10.336,12.857-23.308,12.857-37.391v-22.49h94.447v22.49c0,14.083,4.811,27.056,12.857,37.391H195.92z M488.394,369.666 c0,4.027-3.276,7.304-7.304,7.304H30.909c-4.027,0-7.304-3.276-7.304-7.304v-62.033h464.789V369.666z M488.394,284.026H23.606 V58.846c0-4.027,3.276-7.304,7.304-7.304h450.18c4.027,0,7.305,3.276,7.305,7.304V284.026z">
        </path>
      </g>
    </g>
    <g>
      <g>
        <circle cx="256.003" cy="342.305" r="12.738">
        </circle>
      </g>
    </g>
    <g>
      <g>
        <path d="M276.238,109.254c-4.61-4.609-12.081-4.609-16.693,0l-83.414,83.414c-4.609,4.609-4.609,12.083,0,16.693 c2.306,2.305,5.325,3.457,8.347,3.457c3.022,0,6.041-1.152,8.346-3.457l83.414-83.414 C280.847,121.338,280.847,113.864,276.238,109.254z">
        </path>
      </g>
    </g>
    <g>
      <g>
        <path d="M325.678,157.593c-4.608-4.609-12.079-4.609-16.692-0.001l-33.23,33.228c-4.609,4.61-4.609,12.084,0,16.693 c2.305,2.305,5.325,3.457,8.346,3.457c3.02,0,6.041-1.152,8.346-3.457l33.23-33.228 C330.287,169.676,330.287,162.202,325.678,157.593z">
        </path>
      </g>
    </g>
  </symbol>
  <symbol id="photo-camera" viewbox="0 0 60 60">
    <title>
      photo-camera
    </title>
    <path d="M55.201,15.5h-8.524l-4-10H17.323l-4,10H12v-5H6v5H4.799C2.152,15.5,0,17.652,0,20.299v29.368 C0,52.332,2.168,54.5,4.833,54.5h50.334c2.665,0,4.833-2.168,4.833-4.833V20.299C60,17.652,57.848,15.5,55.201,15.5z M8,12.5h2v3H8 V12.5z M58,49.667c0,1.563-1.271,2.833-2.833,2.833H4.833C3.271,52.5,2,51.229,2,49.667V20.299C2,18.756,3.256,17.5,4.799,17.5H6h6 h2.677l4-10h22.646l4,10h9.878c1.543,0,2.799,1.256,2.799,2.799V49.667z">
    </path>
    <path d="M30,14.5c-9.925,0-18,8.075-18,18s8.075,18,18,18s18-8.075,18-18S39.925,14.5,30,14.5z M30,48.5c-8.822,0-16-7.178-16-16 s7.178-16,16-16s16,7.178,16,16S38.822,48.5,30,48.5z">
    </path>
    <path d="M30,20.5c-6.617,0-12,5.383-12,12s5.383,12,12,12s12-5.383,12-12S36.617,20.5,30,20.5z M30,42.5c-5.514,0-10-4.486-10-10 s4.486-10,10-10s10,4.486,10,10S35.514,42.5,30,42.5z">
    </path>
    <path d="M52,19.5c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S54.206,19.5,52,19.5z M52,25.5c-1.103,0-2-0.897-2-2s0.897-2,2-2 s2,0.897,2,2S53.103,25.5,52,25.5z">
    </path>
  </symbol>
  <symbol id="mouse" viewbox="0 0 272.434 272.434">
    <title>
      mouse
    </title>
    <path d="M208.084,75.85V59.095c0-31.857-25.918-57.775-57.774-57.775h-1.046c-31.857,0-57.775,25.918-57.775,57.775v52.193 c0,21.663-17.624,39.287-39.286,39.287h-0.915C29.624,150.575,12,132.951,12,111.288V7.32c0-3.313-2.687-6-6-6s-6,2.687-6,6v103.968 c0,28.279,23.007,51.287,51.287,51.287h0.915c28.279,0,51.286-23.007,51.286-51.287V59.095c0-25.241,20.535-45.775,45.775-45.775 h1.046c25.24,0,45.774,20.535,45.774,45.775v16.808c-35.582,2.915-63.65,32.785-63.65,69.106v56.745 c0,38.246,31.114,69.36,69.359,69.36h1.28c24.798,0,47.87-13.378,60.214-34.914c1.648-2.875,0.653-6.542-2.222-8.189 c-2.873-1.647-6.54-0.653-8.188,2.222c-10.212,17.815-29.295,28.881-49.804,28.881h-1.28c-31.628,0-57.359-25.732-57.359-57.36 v-56.745c0-29.702,22.693-54.199,51.65-57.074v6.844v55.796h-32.867c-3.313,0-6,2.686-6,6s2.687,6,6,6h97.217v23.642 c0,3.313,2.687,6,6,6s6-2.687,6-6v-41.208C272.434,108.45,243.997,78.429,208.084,75.85z M208.084,150.575V94.779v-6.898 c29.29,2.549,52.35,27.189,52.35,57.128v5.566H208.084z">
    </path>
  </symbol>
  <symbol id="sedan-car-front" viewbox="0 0 48.997 48.998">
    <title>
      sedan-car-front
    </title>
    <path d="M45.961,18.702c-0.033-0.038-0.061-0.075-0.1-0.112l-1.717-1.657c1.424-0.323,2.957-1.516,2.957-2.74 c0-1.426-1.979-1.932-3.668-1.932c-1.766,0-1.971,1.21-1.992,2.065l-4.43-4.271c-0.9-0.891-2.607-1.592-3.883-1.592H24.5h-0.002 h-8.63c-1.275,0-2.981,0.701-3.882,1.592l-4.429,4.271c-0.023-0.855-0.228-2.065-1.992-2.065c-1.691,0-3.669,0.506-3.669,1.932 c0,1.224,1.534,2.417,2.958,2.74l-1.717,1.657c-0.039,0.037-0.066,0.074-0.1,0.112C1.2,20.272,0,23.184,0,25.297v6.279 c0,1.524,0.601,2.907,1.572,3.938v2.435c0,1.424,1.192,2.585,2.658,2.585h3.214c1.466,0,2.657-1.159,2.657-2.585v-0.623h14.397 H24.5h14.396v0.623c0,1.426,1.19,2.585,2.658,2.585h3.213c1.467,0,2.657-1.161,2.657-2.585v-2.435 c0.972-1.031,1.572-2.414,1.572-3.938v-6.279C48.998,23.184,47.798,20.272,45.961,18.702z M13.613,11.953 c0.623-0.519,1.712-0.913,2.255-0.913h8.63H24.5h8.63c0.543,0,1.632,0.394,2.255,0.913l5.809,5.63H24.5h-0.002H7.805L13.613,11.953 z M1.993,24.347c0-1.546,1.21-2.801,2.704-2.801c1.493,0,6.372,2.864,6.372,4.41s-4.879,1.188-6.372,1.188 C3.203,27.144,1.993,25.894,1.993,24.347z M10.102,34.573H9.587H9.072l-3.055,0.005c-0.848-0.264-1.446-0.572-1.869-0.903 c-0.214-0.167-0.378-0.341-0.506-0.514c-0.129-0.175-0.223-0.347-0.284-0.519c-0.38-1.074,0.405-2.061,0.405-2.061h5.214 l3.476,3.99L10.102,34.573L10.102,34.573z M31.996,34.575H24.5h-0.002h-7.496c-1.563,0-2.832-1.269-2.832-2.831h10.328H24.5h10.328 C34.828,33.308,33.559,34.575,31.996,34.575z M32.654,29.812H24.5h-0.002h-8.154c-1.7,0-3.08-2.096-3.08-4.681h11.234H24.5h11.234 C35.734,27.717,34.354,29.812,32.654,29.812z M45.641,32.644c-0.062,0.172-0.156,0.344-0.285,0.518 c-0.127,0.173-0.291,0.347-0.506,0.514c-0.422,0.331-1.021,0.641-1.869,0.903l-3.055-0.005h-0.515h-0.515h-2.353l3.478-3.99h5.213 C45.234,30.583,46.02,31.568,45.641,32.644z M44.301,27.144c-1.492,0-6.371,0.356-6.371-1.188s4.879-4.41,6.371-4.41 c1.494,0,2.704,1.255,2.704,2.801C47.005,25.892,45.795,27.144,44.301,27.144z">
    </path>
  </symbol>
</svg>