{{>header}}
<ol class="breadcrumb">
	<li><a href="/"><span>Store </span></a></li>
	<li><a href="#"><span>Men</span></a></li>
	<li class="active"><span>Suits </span></li>
</ol>
<div class="container">
	<div class="row prduct">
		<div class="col-md-5 col-md-offset-0"><img class="img-responsive" src="/images/suit_jacket.jpg"></div>
		<div class="col-md-7">
			<h2>{{pro.name}}</h2>
			<p>
				Sed mollis, urna eu tempus facilisis, diam tellus aliquam tortor, et vestibulum ante quam non justo. Nullam luctus rutrum
				mattis. Maecenas in pharetra mi, vel mollis odio. Morbi non mauris massa.
			</p>
			<select>
				<option value="" selected="">Chose Your Size</option>
				<option value="xxl">XXL</option>
				<option value="xl">XL</option>
				<option value="m">M</option>
				<option value="s">S</option>
			</select>
			<h3> ${{pro.price}}</h3>
			<button class="btn btn-primary" onclick="addToCart('{{pro.id}}')" type="button">Add to cart</button>
			<button class="btn btn-primary" type="button" style="float:right;">CheckOut </button>
		</div>
	</div>
	<div class="page-header">
		<h3>Product Details</h3>
	</div>
	<p>Sed mollis, urna eu tempus facilisis, diam tellus aliquam tortor, et vestibulum ante quam non justo. Nullam luctus rutrum
		mattis. Maecenas in pharetra mi, vel mollis odio. Morbi non mauris massa.</p>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Column 1</th>
					<th>Column 2</th>
					<th>Column 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="clearfix">
		<h3>Similar Products</h3>
		<hr>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<figure class="border items"><img src="/images/suit_jacket.jpg">
				<div class="details">
					<h4>Suit Jacket</h4>
					<p>$149.90 <a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</figure>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<figure class="border items"><img src="/images/suit_jacket.jpg">
				<div class="details">
					<h4>Suit Jacket</h4>
					<p>$149.90 <a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</figure>
		</div>
	</div>
	<div class="page-header">
		<h3>Reviews<button class="btn btn-primary write-review" onclick="openm(this)" type="button">Write a review</button></h3>
	</div>
	<div class="review-form">
		<form>
			<div class="form-group">
				<label class="control-label">Heading </label>
				<input type="text" class="form-control" />
				<label class="control-label">Details </label>
				<textarea class="form-control"></textarea>
			</div>
			<button class="btn btn-primary btn-sm" type="submit">Submit Review</button>
		</form>
		<hr>
	</div>
	<div class="media">
		<div class="media-body">
			<h4>Love this!</h4>
			<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star-half"></i>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere.
				Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
			<p><span class="reviewer-name"><strong>John Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
		</div>
	</div>
	<div class="media">
		<div class="media-body">
			<h4>Fantastic product</h4>
			<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere.
				Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
			<p><span class="reviewer-name"><strong>Jane Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
		</div>
	</div>
</div>
{{>footer1}}
<script>
	function openm(a) {
		$(".review-form").slideToggle();
	}
</script>