 {{>header}}

<div class="allout text-center">
	<p class="text-center small"> Stories in " {{searchTerm}} "</p>
</div>
<div id="content" class="clearfix">
	{{>article}} {{>sidestuff}}
</div>
{{>footer}}