{{>header}}
<div class="container-fluid">
  <br/>
  <h1 class="" style="font-size: 1.5rem;">
    Top Categories
  </h1>
  <div class="row mt-5">

    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="border box text-center p-3">
        <div class="Bshirt m-2">
        </div>
        <h4 class="m-2"> Fashion </h4>
        <p class="m-0"> <small> Deals  <span style="color: orangered"> 232</span> </small></p>
        <p class="m=0"> <small> Coupons  <span style="color: orangered">2</span> </small></p>
        <button class="btn btn-outline-dark btn-block btn-sm">View Deals</button>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="border box text-center p-3">
        <div class="Bcar m-2">
        </div>
        <h4 class="m-2"> Automative </h4>
        <p class="m-0"> <small> Deals  <span style="color: orangered"> 232</span> </small></p>
        <p class="m=0"> <small> Coupons  <span style="color: orangered">2</span> </small></p>
        <button class="btn btn-outline-dark btn-block btn-sm">View Deals</button>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="border box text-center p-3">
        <div class="Bmonitor m-2">
        </div>
        <h4 class="m-2"> Computers </h4>
        <p class="m-0"> <small> Deals  <span style="color: orangered"> 232</span> </small></p>
        <p class="m=0"> <small> Coupons  <span style="color: orangered">2</span> </small></p>
        <button class="btn btn-outline-dark btn-block btn-sm">View Deals</button>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="border box text-center p-3">
        <div class="Bphone m-2">
        </div>
        <h4 class="m-2"> Phone </h4>
        <p class="m-0"> <small> Deals  <span style="color: orangered"> 232</span> </small></p>
        <p class="m=0"> <small> Coupons  <span style="color: orangered">2</span> </small></p>
        <button class="btn btn-outline-dark btn-block btn-sm">View Deals</button>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <div class="border box text-center p-3">
        <div class="Bfood m-2">
        </div>
        <h4 class="m-2"> Food & drinks </h4>
        <p class="m-0"> <small> Deals  <span style="color: orangered"> 232</span> </small></p>
        <p class="m=0"> <small> Coupons  <span style="color: orangered">2</span> </small></p>
        <button class="btn btn-outline-dark btn-block btn-sm">View Deals</button>
      </div>
    </div>

  </div>
</div>
{{>footer}}
