<div class="container-fluid">
  <br>
  <br>
  <br>
  <h4 class="text-center">
    <img style="height:100px;" src="/images/error.png">
    <br> Error 404 page not found
  </h4>
  <p class="text-center"> Taking you to the Homepage in 5 Seconds</p>
</div>
<script type="text/javascript">
  setTimeout(_ => {
    window.location.assign('/');
  }, 3000)
</script>