<h1 style="margin:20px; text-align: center;color:#eb6864;"><b> 404 <br> Not Found </b></h1>

<div class="lds-css">
  <div class="lds-gear" style="100%;height:100%">
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>