<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header"><a class="navbar-brand navbar-link" href="#">FASHION STORE</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
		</div>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#">Fall 2015</a></li>
				<li role="presentation"><a href="#">Top Sellers</a></li>
				<li role="presentation">
					<a href="#"> <i class="glyphicon glyphicon-shopping-cart"></i></a>
				</li>
			</ul>
			<button class="btn btn-primary navbar-btn navbar-right" onclick="loki()" type="button"><i class="glyphicon glyphicon-user"></i> SIGN IN</button>
		</div>
	</div>
</nav>
<div id="hero" class="container">
	<h1 class="text-uppercase text-center text-primary bg-primary">fashion store</h1>
</div>
<div class="container">
	<h2 class="text-center">Featured Collection </h2>
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure
		dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
		nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	<hr>

	<div>
		{{> content1 }}
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
			<div class="product items">
				<div><img src="/images/suit_jacket.jpg"></div>
				<div class="details">
					<h3>Suit Jacket</h3>
					<p>Paragraph<a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
			<div class="product items">
				<div><img src="/images/suit_jacket.jpg"></div>
				<div class="details">
					<h3>Suit Jacket</h3>
					<p>Paragraph<a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
			<div class="product items">
				<div><img src="/images/suit_jacket.jpg"></div>
				<div class="details">
					<h3>Suit Jacket</h3>
					<p>Paragraph<a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
			<div class="product items">
				<div><img src="/images/suit_jacket.jpg"></div>
				<div class="details">
					<h3>Suit Jacket</h3>
					<p>Paragrapah<a class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<footer class="site-footer">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h5>Fashion Store © 2016</h5>
				</div>
				<div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
			</div>
		</div>
	</footer>
</div>
<div class="modal fade" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Modal Title</h4>
			</div>
			<div class="modal-body">
				<p>The content of your modal.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="button">Save</button>
			</div>
		</div>
	</div>
</div>
<script>

</script>