{{>header}}
<div id="hero" class="container">
	<div class="text-center container" id="hero-text">
		<h1 class="text-uppercase"><a href="/api"> start shopping </a></h1>
	</div>
</div>
<div class="container">
	<h3 class="text-center">Featured Collection </h3>
	<p class="text-center">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
	</p>
	<hr>
	<h3 id="best-selling" class="text-center"> Best Selling Products </h3>
	<hr>
	<div>
		{{> content1 }}
	</div>
</div>
{{>footer1}}