{{>header}}
<div class="contaner-fluid">
  <div class="text-center" id="hero">
    <div class="banner">
      <a href="#">
        <img src="images/banner1.jpg">
        </img>
      </a>
    </div>
  </div>

  <div class="catagories">
    <h4 style="font-weight:300" class="text-center p-1"> Browse Popular Catagories </h4>
    <div class="row p-0 m-0">
      <figure class="col text-center">
        <img src="images/Catagories/food.png">
        <figcaption>
          <h6>
            <b> Restaurants </b>
          </h6>
        </figcaption>
      </figure>

      <figure class="col text-center">
        <img src="images/Catagories/beauty.png">
        <figcaption>
          <h6>
            <b> Beauty & Spas </b>
          </h6>
        </figcaption>
      </figure>

      <figure class="col text-center">
        <img src="images/Catagories/car.png">
        <figcaption>
          <h6>
            <b> Automative </b>
          </h6>
        </figcaption>
      </figure>

      <figure class="col text-center">
        <img src="images/Catagories/goods.png">
        <figcaption>
          <h6>
            <b> Goods </b>
          </h6>
        </figcaption>
      </figure>

      {{!--
      <figure class="col text-center">
        <img src="images/Catagories/health.png">
        <figcaption>
          <h6>
            <b> Health & Fitness </b>
          </h6>
        </figcaption>
      </figure> --}}

      <figure class="col text-center">
        <img src="images/Catagories/sale.png">
        <figcaption>
          <h6>
            <b> Sale </b>
          </h6>
        </figcaption>
      </figure>

      <figure class="col text-center">
        <img src="images/Catagories/travel.png">
        <figcaption>
          <h6>
            <b> Travel </b>
          </h6>
        </figcaption>
      </figure>

    </div>
  </div>

  <div class="text-center d-none" id="tab" style="margin-bottom: 15px">
    <h4 class="btn" style="margin: 0;width:100%">
      <span class="dropdown-toggle active">
        Deals
      </span>
      <span class="dropdown-toggle">
        Coupons
      </span>
      <span class="dropdown-toggle">
        Offers
      </span>
    </h4>
  </div>

  <h4 class="text-center" style="font-weight:300">Today's Deals </h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-3 side-content" style="display:none">
        <h6 class="text-center">
          Popular Deals
        </h6>
        <div id="left-box">
          {{!--
          <div class="side-offers" style="padding: 10px;">
            <img src="images/banner.jpg" style="width: 100%;">
            <br>
            <h6 class="">
              Product name
            </h6>
            <small>
              <b>
                Description
              </b>
              : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </small>
            </br>
            </img>
          </div>
          <div class="side-offers" style="padding: 10px;">
            <img src="images/banner1.jpg" style="width: 100%;">
            <br>
            <h6 class="">
              Product name
            </h6>
            <small>
              <b>
                Description
              </b>
              : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            </small>
            </br>
            </img>
          </div>
          --}}
        </div>
      </div>
      <br>
      <div class="col content-box">
        <div id="content-box" class="row">
          {{#each loop}}
          <div class="col-6 col-sm-4 col-lg-3 col-xl-3 boder p-0 outer-box">
            <div class="box border border-left-0 border-top-0 border-right-0">
              <img src="images/fkm.jpg" onerror="this.src='images/supreme.jpg'" style="width: 100%;">
              <br>
              <p>
                <a href="#">Last 4 Days to Save - Shop For Rs. 250 & Get Flat Rs. 75 Cashback </a>
              </p>
              <div class="box-text">
                <div class="text-center">
                  <div class="cut-price text-left">
                    <p>
                      <del>250</del>175
                      <span class="text-right">
                        <a href="https://freekaamaal.com/amazon-coupons">amazon</a>
                      </span>
                    </p>
                  </div>
                  <button class="btn btn-outline-dark btn-sm">Shop Now</button>
                  <br>
                  <br>
                </div>
              </div>
              </img>
            </div>
          </div>
          {{/each}}
        </div>
        <br/>
        <div class="text-center">
          <button class="btn btn-dark" onclick='getData()'>
            View More Deals
            <img id="loader" src="images/loader.svg">
            </img>
          </button>
        </div>
      </div>
      </br>
    </div>
  </div>
</div>
{{>footer}}