{{>header}}
<div class="container-fluid">
  <div class="text-center" id="hero">
    <div class="banner">
      <a href="#">
        <img src="images/banner1.jpg" />
      </a>
    </div>
  </div>
  <div class="catagories">
    <h4 class="text-center p-1 mb-4" style="font-weight:300">
      Browse Popular Catagories
    </h4>
    <div class="row p-0 m-0">
      <figure class="col-4 col-md text-center">
        <div class="mouse">
        </div>
        <figcaption>
          <h6>
            <small>
              Electronics
            </small>
          </h6>
        </figcaption>
      </figure>
      <figure class="col-4 col-md text-center">
        <div class="monitor">
        </div>
        <figcaption>
          <h6>
            <small>
              Computers
            </small>
          </h6>
        </figcaption>
      </figure>
      <figure class="col-4 col-md text-center">
        <div class="car">
        </div>
        <figcaption>
          <h6>
            <small>
              Automative
            </small>
          </h6>
        </figcaption>
      </figure>
      <figure class="col-4 col-md text-center">
        <div class="shirt">
        </div>
        <figcaption>
          <h6>
            <small>
              Fasion
            </small>
          </h6>
        </figcaption>
      </figure>
      <figure class="col-4 col-md text-center">
        <div class="food">
        </div>
        <figcaption>
          <h6>
            <small>
              Food & Drinks
            </small>
          </h6>
        </figcaption>
      </figure>
      <figure class="col-4 col-md text-center">
        <div class="dog">
        </div>
        <figcaption>
          <h6>
            <small>
              Pets
            </small>
          </h6>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="text-center d-none" id="tab" style="margin-bottom: 15px">
  <h4 class="btn" style="margin: 0;width:100%">
    <span class="dropdown-toggle active">
      Deals
    </span>
    <span class="dropdown-toggle">
      Coupons
    </span>
    <span class="dropdown-toggle">
      Offers
    </span>
  </h4>
</div>

<h4 class="text-center m-0" style="font-weight:300">
  Today's Deals
</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3 side-content" style="display:none">
      <h6 class="text-center">
        Popular Deals
      </h6>
    </div>
    <div class="side-offers" style="padding: 10px;">
      <div class="col content-box">
        <div class="row" id="content-box">
          {{#each imageUrl}}
          <div class="col-6 col-sm-4 col-lg-3 col-xl-3 boder p-1 outer-box">
            <div class="box border border-left-0 border-top-0 border-right-0">
              <img onerror="this.src='images/error.png'" src="{{this.imageUrl}}" style="width: 100%;height: auto">
              <br/>
              <p>
                <a href="#">
                  Last 4 Days to Save - Shop For Rs. 250 & Get Flat Rs. 75 Cashback
                </a>
              </p>
              <div class="box-text">
                <div class="text-center">
                  <div class="cut-price text-left">
                    <div class="clearfix row">
                      <div class="col lead">
                        <del class="mr-1">
                          <small>
                            $250
                          </small>
                        </del>
                        $175
                      </div>
                      <div class="col text-right">
                        <a href="https://freekaamaal.com/amazon-coupons">
                          amazon
                        </a>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <button class="btn btn-outline-dark btn-sm">
                    Shop Now
                  </button>
                  <br/>
                  <br/>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <br/>
        <div class="text-center">
          <button class="btn btn-dark" onclick="getData()">
            View More Deals
            <img id="loader" src="images/loader.svg" />
          </button>
        </div>
      </div>
      <br/>
      <br/>
    </div>
  </div>

  {{>footer}}