<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header"><a class="navbar-brand navbar-link" href="#">FASHION STORE</a>
			<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
		</div>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#">Fall 2015</a></li>
				<li role="presentation"><a href="#">Top Sellers</a></li>
				<li id="cart" role="presentation">
					<a href="#" onclick="$('#cart-item').toggle().css('opacity','1'); return false">Cart</a>
					<ul id="cart-item" class="list list-group" style="display:none;z-index:100">
						<li class="list-group-item"><span>List Group Item 1</span></li>
						<li class="list-group-item"><span>List Group Item 2</span></li>
						<li class="list-group-item"><span>List Group Item 3</span></li>
						<li class="list-group-item">
							<small> Total Price : $233.3 </small>
						</li>
						<li class="list-group-item">
							<small> Total Quantity : 3 </small>
						</li>
					</ul>
				</li>
			</ul>
			<a id="signup-btn" href="users/signup" class="btn btn-primary navbar-btn navbar-right" type="button"><i class="glyphicon glyphicon-user"></i> SIGN IN</a>
		</div>
	</div>
</nav>
<div id="hero" class="container">
	<div class="text-center container" id="hero-text">
		<h1 class="text-uppercase"><a href="/"> start shopping </a></h1>
	</div>
</div>
<div class="container">
	<h3 class="text-center">Featured Collection </h3>
	<p class="text-center">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat.
	</p>
	<hr>
	<h1 id="best-selling" class="text-center"> Best Selling Products </h1>
	<hr>
	<div>
		{{> content1 }}
	</div>
</div>
<div class="container">
	<footer class="site-footer">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-sm-6">
					<h5>Fashion Store © 2016</h5>
				</div>
				<div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
			</div>
		</div>
	</footer>
</div>
<div class="modal fade" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Modal Title</h4>
			</div>
			<div class="modal-body">
				<p>The content of your modal.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="button">Save</button>
			</div>
		</div>
	</div>
</div>
{{>signup}} {{>signin}}