{{>header}}
<div class="container visible-xs-block">
	<div>
		<div class="dropdown">
			<button class="btn btn-primary btn-sm dropdown-toggle visible-xs-block" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-filter"></i> Filter By<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li role="presentation"><a href="#">First Item</a></li>
				<li role="presentation"><a href="#">Second Item</a></li>
				<li role="presentation"><a href="#">Third Item</a></li>
			</ul>
		</div>
		<hr>
	</div>
</div>
<div style="position: relative" class="container">
	<div class=" col-md-2 col-sm-3 hidden-xs">
		<h4>Price</h4>
		<input type="range">
		<hr>
		<h4>Color </h4>
		<select>
                <optgroup label="This is a group">
                    <option value="12" selected="">This is item 1</option>
                    <option value="13">This is item 2</option>
                    <option value="14">This is item 3</option>
                </optgroup>
            </select>
		<hr>
	</div>
	<div class="col-md-10 col-sm-9">
		{{> content1 }}
	</div>
</div>
{{>footer1}}