<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href='/stylesheets/style.css'>
  <style type="text/css">
    .button {
      background: black;
    }

    .load {
      display: none;
      transition: 300ms ease-in;
    }

    .image {
      z-index: 1000;
      transition: 240ms ease-in;
    }
  </style>
</head>

<body>

  <a href="https://freekaamaal.com/deals/amazon-pay-balance-offer">Last 4 Days to Save - Shop For Rs. 250 & Get Flat Rs. 75 Cashback</a>
  </p>
  <div class="fkm-main-col-12 no-padding">
    <div class="fkm-main-col-7 no-padding price-container home-main-price">
      <p class="cut-price">
        <del>
          <i>&#x20b9;</i> 250</del>
      </p>
      <p class="main-price">
        <i>&#x20b9;</i> 175</p>
    </div>
    <div class="fkm-main-col-5 fkm-main-col-padding text-right">
      <p class="store-name">
        <a href="https://freekaamaal.com/amazon-coupons">amazon</a>
      </p>
    </div>
  </div>
  <div class="fkm-main-col-12 no-padding posted-conta">
    <div class="fkm-main-col-8 no-padding posted-holder">
      <div class="fkm-main-col-3 fkm-main-col-padding">
        <span class="posted-profile">
          <img onerror="deal_image_error(this);" src="https://images.freekaamaal.com/common-images/loader.gif" class="lazy"> 
        </span>
      </div>
      <div class="fkm-main-col-9 fkm-main-col-padding posted-by-con">
        <p>Posted By</p>
        <p class="name">
          <a href="https://freekaamaal.com/user/rohitgrover4444">rohitgrover4444</a>
        </p>
        <p>5 mins ago</p>
      </div>
    </div>

    <h1> hello the socket is working </h1>

    {{!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> {{!--
    <script src="/socket.io/socket.io.js"></script> --}} {{!-- //
    <script src="/javascripts/vendor/foundation.min.js"></script> --}} {{!-- //
    <script src="/javascripts/bootstrap.min.js"></script> --}}
    <script src="/javascripts/main.js"></script>
</body>

</html>