<div class="container p-5" id="box" style="max-width:500px">
  <input class="form-control" id="input" type="text" value="asap rockey"/>
  <button class="btn btn-primary mt-2" id="btn">
    add person
  </button>
  <br/>
  <br/>
  <h4>
    Persons
  </h4>
  <ul id="person">
  </ul>
</div>
