<div class="row border">



  <ul class="vertical menu" data-accordion-menu>
    <li>
      <a href="#0">Item 1</a>
      <ul class="menu vertical nested is-active">
        <li>
          <a href="#0">Item 1A</a>
          <ul class="menu vertical nested">
            <li><a href="#0">Item 1Ai</a></li>
            <li><a href="#0">Item 1Aii</a></li>
            <li><a href="#0">Item 1Aiii</a></li>
          </ul>
        </li>
        <li><a href="#0">Item 1B</a></li>
        <li><a href="#0">Item 1C</a></li>
      </ul>
    </li>
    <li>
      <a href="#0">Item 2</a>
      <ul class="menu vertical nested">
        <li><a href="#0">Item 2A</a></li>
        <li><a href="#0">Item 2B</a></li>
      </ul>
    </li>
    <li><a href="#0">Item 3</a></li>
  </ul>


  <p><a data-open="exampleModal1">Click me for a modal</a></p>

  <div class="reveal" id="exampleModal1" data-reveal>
    <h1>Awesome. I Have It.</h1>
    <p class="lead">Your couch. It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

  <div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button"></button>
      <span class="title-bar-title">Foundation</span>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button"></button>
    </div>
  </div>

  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
    <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
    <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
    <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
    <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
    <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <p>One</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel2">
      <p>Two</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-7.jpg">
    </div>
    <div class="tabs-panel" id="panel3">
      <p>Three</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel4">
      <p>Four</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-2.jpg">
    </div>
    <div class="tabs-panel" id="panel5">
      <p>Five</p>
      <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel6">
      <p>Six</p>
      <img class="thumbnail" src="assets/img/generic/rectangle-8.jpg">
    </div>
  </div>


  <h1> Heading <small> sub heading </small> </h1>
  <h2 class="subheader"> sub header </h2>

  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quae at architecto non quisquam officiis reiciendis, veniam,
    temporibus. Cum vel perferendis veritatis velit dolores deleniti dolor blanditiis. Accusantium, corporis, velit.
  </p>

  <p> Remaining balance </p>
  <span class="stat"> 300 </span>

  <hr>

  <div class="callout clearfix">
    <button class="button float-left small"> left </button>
    <button class="button float-right small"> right </button>
  </div>

  <div class="show-for-medium">
    <h1> hello bitch using smartfone ugh </h1>
  </div>

  <button class="button warning "> button </button>
  <button class="button disabled "> button </button>

  <input type="text">
  <p class="help-text"> Username is already in the database </p>

  <div class="input-group">
    <span class="input-group-label"> $ </span>
    <input class="input-group-field" type="text">
    <div class="input-group-button">
      <button type="submit" class="button alert"> Submit </button>
    </div>
  </div>


  <div class="switch tiny">
    <input id="exampleRadioSwitch2" type="radio" name="testGroup">
    <label for="exampleRadioSwitch2"></label>
  </div>

  <div class="switch large">
    <input class="switch-input" id="switch" type="checkbox" name="switchStatus">
    <label class="switch-paddle" for="switch"> 
      <span class="show-for-sr"> Enabled </span>
    </label>
  </div>

  <div class="slider " data-slider data-initial-start='0' data-end='10'>
    <span class="slider-handle " data-slider-handle role="slider" tabindex="1"> </span>
    <span class="slider-fill " data-slider-fill> </span>
    <input type="hidden">
  </div>

  <ul class="menu vertical float-l=eft">
    <li class="menu-text"> Site title </li>
    <li>home</li>
    <li class="active">products</li>
    <li>about</li>
    <li>contact</li>
  </ul>

  <table class="striped hover stack">
    <tr>
      <th>Name </th>
      <th>Products </th>
      <th>quantity </th>
    </tr>
    <tr>
      <td>jane </td>
      <td>apple </td>
      <td>23 </td>
    </tr>
    <tr>
      <td>jane </td>
      <td>apple </td>
      <td>23 </td>
    </tr>
  </table>

  <span class="badge alert large">2323</span>

  <div class="flex-video">
    <iframe width="420" height="315" src="//www..com/embed/aiBt44rrslw" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <a href="#" data-reveal-id="myModal"> click</a>
  <div id="myModal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">× </a>
  </div>

  <a data-reveal-id="myModal">Click Me For A Modal</a>

  <div id="myModal" class="reveal-modal" data-reveal="false">
    <h2>Awesome. I have it.</h2>
    <p class="lead">Your couch. It is mine.</p>
    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal">×</a>
  </div>

  <div class="small-12 columns content">
    <div class="medium-6 large-3 columns">
      <h4>Pricing Tables</h4>
      <ul class="pricing-table">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">An awesome description</li>
        <li class="bullet-item">1 Database</li>
        <li class="cta-button"><a class="button" href="https://sudheerdev.github.io/Foundation5CheatSheet/#">Buy Now</a>
        </li>
      </ul>
      <ul class="no-bullet">
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288641" title="">ul class="pricing-table"</span>
        </li>
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288642" title="">li class="title"</span>
        </li>
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288643" title="">li class="price"</span>
        </li>
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288644" title="">li class="description"</span>
        </li>
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288645" title="">li class="bullet-item"</span>
        </li>
        <li><span data-tooltip="" class="has-tip" data-selector="tooltip-j59v288646" title="">li class="cta-button"</span>
        </li>
      </ul>
    </div>

  </div>

</div>