<div class="row">
  <div class="large-5 medium-7 small-12 callout" style="left:50%;top:50%; transform:translate(-50%,50%)">

    <label> <h5> Sign Up </h5> </label>

    <form method="POST" action="/users/signup">

      <label>Email</label>
      <input type="email" name="email" placeholder="Email">
      <label style="color:red;" class="help-text">{{messages}}</label>

      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input class="button" type="submit" value="Sign Up">
      <a class="float-right " style="padding: 8px 0" href="/users/signin">Already a User Login </a>
    </form>
  </div>

</div>