<div class="row border large-6 medium-7 small-12">

  <label> <h4>Log in </h4> </label>

  <form method="POST" action="/users/signin">

    <div class=" large-12 medium-10 small-12">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email">
      <label style="color:red;" class="help-text">{{messages}}</label>
    </div>

    <div class=" large-12 medium-10 small-12">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <div class="large-12">
      <input class="button success" type="submit" value="Log In">
    </div>
  </form>
</div>