<div class="row grid-x">
  <div class="large-5 medium-7 callout small-12 cent">

    <label> <h5>Log in </h5> </label>
    <form method="POST" action="/users/signin">

      <label>Email</label>
      <input type="email" name="email" placeholder="Email">
      <label style="color:red;" class="help-text">{{messages}}</label>

      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <input class="button success" type="submit" value="Log In">
      <a class="float-right " style="padding: 8px 0" href="/users/signup">New User Signup </a>

    </form>
  </div>
</div>