#hero-text h1 a{
  opacity:0.8;
  color: rgba(255, 255, 255, 0.63);
  display:inline-block;
  background: rgba(26, 24, 24, 0.63);
  margin-top:15%;
  padding:20px 30px;
  text-decoration: none;
}
#hero-text a {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: 150ms ease-in;
}
#hero-text a:hover{
  background: rgba(255, 255, 255, 0.63);
  color: black;
}
.form-logo{
  background: inherit;
  border: 1px solid black;
  opacity: 0.7;
  padding: 10px 0;
  border-radius: 2px;
  /* opacity: 0.4; */
}
.product .details h3{
   margin-bottom:0;
}

nav.navbar.navbar-default{
  /* border-bottom:0; */
    /* margin-bottom:0px; */

}
.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #EEEEEE;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}
.navbar{
  font-weight: normal;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}
.product{
  padding: 10px;
  box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.items .product-image img{
  max-width:100%;
  min-height:100px;
  width: 100%;
  /* height: 100%; */
}

div.details h4{
  margin-bottom:0;
}

div.details{
  padding:0px;
}

figure.items{
  overflow:hidden;
  z-index:5;
}

a.btn.btn-default.btn-sm{
  background:#eb6864;
  border:0; 
  border-radius:4px;
  float:right;
}

a.btn.btn-default.btn-sm:hover{
  background:#e4332e;
}

.details p{
  line-height:2.3;
}

div.col-lg-3.col-md-4.col-sm-6.col-xs-12{
  margin-bottom:20px;
}

div.col-lg-4.col-md-4.col-sm-6.col-xs-12.box{
  padding:10px;
  margin-bottom:20px;
  /* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);  */
}

div#hero{
  background-image:url(/images/suit_jacket1.jpeg);
  background-repeat:no-repeat;
  background-size:cover;
  height:500px;
}
h1,h2,h3{
  font-weight: normal;
}
@media (max-width:450px) {
  div#hero{ 
    height: 300px;
  }
  #hero-text h1 {
    font-size: 18px;
    margin-top: 30%;
    font-weight: normal;
    letter-spacing: 3px;
  }
}
.review-form{
  padding: 10px;
  border-radius: 3px;
  display: none;
}
.review-form textarea:focus ,.review-form input:focus{
  border: 0;
  box-shadow: 0 0 3px 1px #eb6864;
  outline: 0;
}
.product-image{
  max-height:250px;
  max-width: 350px;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.list-group{
  position: absolute;
  min-width: 200px;
  width: 250px;
}
@media (max-width:768px){
.list-group{
  position: relative;
  width: 100%;
}
}

#cart:hover .list{
  /* background: red; */
  display: block;
}

.close:focus {
   outline: 0px; 
}

#best-selling{
  clear: both;
  padding: 10px 20px;
  border-radius: 3px;
}
#best-selling::before{
  content: "";
  width: 200px;
  height: 20px;
  color: black;

}
.box{
  padding: 3px 10px;
  /* box-shadow: 0 0 1px 0 #e4332e; */
}

@keyframes loki {
  0%{transform:  scale(0.92)  }
  50%{transform: scale(1)}
  100%{transform: scale(0.92)}
}

/*
  ------------------------------
  Google style login form styles
  ------------------------------
*/

.login-card{
   position: fixed  ; 
   left: 50%; 
   top: 50%; 
   transform: translate(-50%,-50%);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
   max-width:350px;
   min-width: 300px;
   padding:10px 30px;
   z-index: 200;
  /* margin:0 auto 25px; */
  /* margin-top:50px; */
  border-radius:2px;
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width:768px) {
  .login-card{
    /* left: 0%; */
    /* top: 0%; */
    /* transform: translate(0%,0%); */
     /* left: calc(0% + 20px); 
     top: calc(0% + 20px); */
    /* margin: 0 auto; */
    /* width: calc(100% - 40px); */
    /* padding: 15px 10px; */
    /* height: 60vh; */
    /* min-height: 80vh; */
    /* overflow-y: scroll; */
    min-width: 250px;
  }
}

.login-card .profile-img-card{
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
  /* outline: 1px solid rgba:;(255, 0, 0, 0.7) */
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
  /* border:0; */
  /* outline: 0; */
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  /* outline:0; */
  /* -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162); */
  /* box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162); */
      box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.3) , 0 0 1px 0px #eb6864;
      border: 1px solid #eb6864;
    /* border: 0; */
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .forgot-password{
  color:rgb(104, 145, 162);
}

/* End google style login styles */


/* LOADER */

@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 2s infinite linear;
  animation: lds-gear 2s infinite linear;
  position: relative;
  margin: 20px auto;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 192px;
  background: #e4332e;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 59px !important;
  height: 59px !important;
  -webkit-transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
  transform: translate(-29.5px, -29.5px) scale(0.295) translate(29.5px, 29.5px);
}
