h1.text-uppercase.text-center.text-primary.bg-primary{
  opacity:0.6;
  display:inline-block;
  margin-top:150px;
  padding:10px 20px;
}

.product .details h3{
   margin-bottom:0; 
}

nav.navbar.navbar-default{
  /* border-bottom:0; */
    /* margin-bottom:0px; */

}
.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}
.product{
  padding: 10px;
  box-shadow: 0 0 2px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
}
.items img{
  max-width:100%;
  min-height:100px;
  width: 100%;
  /* height: 100%; */
}

div.details h4{
  margin-bottom:0;
}

div.details{
  padding:0px;
}

figure.items{
  overflow:hidden;
  z-index:5;
}

a.btn.btn-default.btn-sm{
  background:#eb6864;
  border:0;
  border-radius:4px;
  float:right;
}

a.btn.btn-default.btn-sm:hover{
  background:#e4332e;
}

.details p{
  line-height:2.3;
}

div.col-lg-3.col-md-4.col-sm-6.col-xs-12{
  margin-bottom:20px;
}

div.col-lg-4.col-md-4.col-sm-6.col-xs-12.box{
  padding:10px;
  margin-bottom:20px;
  /* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);  */
}

div#hero{
  background-image:url(/images/suit_jacket.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:500px;
}
.review-form{
  padding: 10px;
  border-radius: 3px;
  display: none;
}
.review-form textarea:focus ,.review-form input:focus{
  border: 0;
   box-shadow: 0 0 3px 1px #eb6864; 
  outline: 0;
}
.product-image{
  max-height:250px;
  max-width: 350px;
  height: 200px;
   /* height: 40vw;  */
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.list-group{
  position: absolute;
  width: 200px;
}
#cart:hover .list{
  background: red;
  display: block;
}

.close:focus {
   outline: 0px; 
}

/*
  ------------------------------
  Google style login form styles
  ------------------------------
*/

.login-card{
   position: fixed; 
   left: 50%; 
   top: 50%; 
   transform: translate(-50%,-50%);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
   max-width:350px; 
   padding:10px 30px; 
  /* margin:0 auto 25px; */
  /* margin-top:50px; */
  border-radius:2px;
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width:768px) {
  .login-card{
    /* left: 0%; */
    /* top: 0%; */
    /* transform: translate(0%,0%); */
     /* left: calc(0% + 20px); 
     top: calc(0% + 20px); */
    margin: 0 auto;
    /* width: calc(100% - 40px); */
    padding: 15px 10px;
  }
}

.login-card .profile-img-card{
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
  /* outline: 1px solid rgba:;(255, 0, 0, 0.7) */
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
  /* border:0; */
  /* outline: 0; */
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  /* outline:0; */
  /* -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162); */
  /* box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162); */
      box-shadow:inset 0 0 0 0 rgba(0, 0, 0, 0.3) , 0 0 1px 0px #eb6864;
      border: 1px solid #eb6864;
    /* border: 0; */
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .forgot-password{
  color:rgb(104, 145, 162);
}

/* End google style login styles */