.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
	float: left;
}
.shadow{
	box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1)
}
.cent{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,50%);
}

figure img{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	 display: flex; 
	flex-wrap: wrap;
	max-height: 285px;
	 /* min-height: 233px; */
}

.border {
	border: 1px dashed black;
}
.name{
	display: block;
	text-overflow: clip;
	padding: 2px 3px;
	height: 22px;
}
figcaption h4 {
	text-overflow: clip;
}

img {
	padding: 2px;
}

p {
	margin: 0;
}

div {
	  padding: 10px;
}

#hero {
	text-align: center;
	background-attachment: fixed; 
	background-image: url(../images/model2.jpg);
	opacity: 0.8;
	background-size: cover;
	background-repeat: no-repeat;
	height: 320px;
	margin-bottom: 30px;
	margin-top: 14px;
	/* animation-name: loki;
	animation-duration: infinite;
	animation-delay: 0; */
}



#hero-text {
	/* float: right; */
	/* margin-top: 10%; */
	/* margin-right: 10px; */
	/* font-size: 5em; */
	 margin-bottom: 0; 
	background: rgba(255,255,255,0.4);
	display: inline-block;
	margin-top: 130px;
	box-shadow: 0 0 30px 30px rgba(255,255,255,0.4);
	display: none
}

#content {
	display: flex;
	flex-wrap: wrap;
}

.box {
	margin-bottom: 40px;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: nowrap;
	/* justify-content: flex-start ;
	align-items: flex-end; */
	justify-content: center;
	align-content: center;
	margin: 10px ;
}

#parent {
	margin: 0 auto;
}

.model {
	box-shadow: 0 0 0px 500px rgba(0 ,0 ,0, 0.7);
	position: fixed;
	z-index: 100;
	width: 60vw;
	height: 60vh;
	max-height: 530px;
	background: rgba(255, 255, 255, 1);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 100ms ease-in;
	overflow-y: scroll;
	display: none;
}
.model-d{
	height: 100%;
	width: 40vw;
	max-height: 600px
}

/* Scroll fix */

.scroll::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #fff;
}

.scroll::-webkit-scrollbar {
	width: 0px;
	border-radius: 0px;
	background-color: #fff;
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.review-box{
	box-shadow: 0 0 1px 0px rgba(0 ,0 ,0, 0.2)
}

#info-modal{
	width: 50vw;
	height: 10vh;
	position: absolute;
	left: 25vw;
	transition: 1000ms ease-in;
	display: none;
	font-size: 20px;
	line-height: 2;
	text-align: center;
}
.row{
	max-width: 1100px;
	margin: 0 auto;
}
div {
	padding: 0
}
.pad{
	padding: 10px
}
.cart{
	height: 40px;
	/* position: relative;
	top: -300px;
	left: 70px; */
}
a{
	 color: #111;
}
	.badge{
		border-radius: 50%;
		background: #111;
		/* margin-bottom: 15px; */
		position: relative;
		top: -2px;
	}
#cartt:hover + #cartModal{
	display: block;
}
#cartModal{
	position: absolute;
	width: 300px;
	top: 20px;
	height: auto;
	min-height: 200px;
	display: none;
}
@media (max-width: 360px){
	.box1{
		width: 100%
	}
	#index{
		padding: 0	
	}
	.pad{
		padding: 5px
	}
}