<% include ../temp/head %>

  <!-- <div id="info-modal" class="button success"> </div> -->

  <div class="rw large-12 shadow " style=" margin: 3px 0;">
    <h3 style="display: inline-block">Robin Dashboard </h3>
    <ul style="display: inline-block; margin:0; line-height: 3.4;">
      <li> <a href="/"> Home </a> </li>
      <li> Login </li>
      <li> SignUp </li>
      <li> Account </li>
    </ul>
  </div>

  <div class="large-12">

    <div class="column large-3  medium-4 border shadow">
      <ul class="block" id="dash">
        <h5> Products Manager </h5>
        <li><button class="button expanded" id="add-btn" onclick="showadd()"> <b>Add New Product</b></button></li>
      </ul>
    </div>

    <div class="shadow border" style="display: flex; flex-wrap:wrap; flex-direction:column; align-items: center">


      <div id="add" style="display: none;" class="border model model-d scroll column large-12 medium-12 small-12">
        <img src="../images/close.png" style="position: absolute; right: 15px;" onclick="closemodel()">
        <div class="row large-12 medium-12 small-12">
          <form method="POST" action="/admin">
            <p>Product Name </p>
            <input type="text" name="name" value="Robin Clothes" placeholder="Product name" requird="true">
            <p>Product Description </p>
            <textarea class="scroll" name="description" rows="5" requird="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem beatae, excepturi aperiam sapiente eum consequuntur libero quia, impedit nulla consectetur, quisquam ipsa deserunt ipsum quaerat ut nesciunt minima tempore similique Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus veniam temporibus nesciunt ad iste, sit, vero consequuntur necessitatibus in quisquam fugit officiis non vitae, voluptatibus omnis nobis obcaecati quia est.</textarea>
            <p>Product Price </p>
            <input type="number" name="price" placeholder="Product Price" value="21" requird="true">
            <p>Product Avaliable Quantity</p>
            <input type="number" name="quantity" placeholder="Product Quantity Avaliable" value="20" requird="true">
            <p>Product Discount in %</p>
            <input type="number" name="discount" placeholder="Product Discount" value="10" requird="true">
            <input type="file" id="name" style="display:none;" name="image" requird="true">
            <label for="name" class="button  small"> Upload Image</label>
            <input type="submit" class="button  expanded small" value="Add Product">
          </form>
        </div>
      </div>

      <div id="update" style="display: none;" class="border model model-d scroll column large-12 medium-12 small-12">
        <div class="label">
          <p><b> Update Product </b> </p>
        </div>
        <div class="row large-12 medium-12 small-12">
          <form method="POST" action="">
            <p></p>
            <input type="text" name="name" value="Robin Clothes" placeholder="Product name" requird="true">
            <p>Product Description </p>
            <textarea class="scroll" name="description" rows="5" requird="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem beatae, excepturi aperiam sapiente eum consequuntur libero quia, impedit nulla consectetur, quisquam ipsa deserunt ipsum quaerat ut nesciunt minima tempore similique Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus veniam temporibus nesciunt ad iste, sit, vero consequuntur necessitatibus in quisquam fugit officiis non vitae, voluptatibus omnis nobis obcaecati quia est.</textarea>
            <p>Product Price </p>
            <input type="number" name="price" placeholder="Product Price" value="21" requird="true">
            <p>Product Avaliable Quantity</p>
            <input type="number" name="quantity" placeholder="Product Quantity Avaliable" value="20" requird="true">
            <p>Product Discount in %</p>
            <input type="number" name="discount" placeholder="Product Discount" value="10" requird="true">
            <input type="file" id="name" style="display:none;" name="image" requird="true">
            <label for="name" class="button secondary small"> Upload Image</label>
            <input type="submit" class="button secondary expanded small" value="Update Product">
          </form>
        </div>
      </div>



      <div id="content" style="margin: 0 auto;" class="column large-12 medium-12 small-12">
        <% j = data.length-1 %>
          <% for(i=0; i<=j; i++) { %>
            <div id="<%= data[i]._id %>" class="box column large-4 medium-6 small-6">
              <figure>
                <img src="../images/<%= data[i].image %>">
                <figcaption style="display: flex; flex-wrap:wrap;flex-direction:column">
                  <div class="name">
                    <%= data[i].name %>
                  </div>
                  <h6>$
                    <%= data[i].price %>
                  </h6>
                  <!-- <a href="../buy/<%= data[i]._id %>" class="button small"> Buy </a> -->
                  <!-- <button style="float:right" class="view button small" onclick="loadDoc('<%= data[i]._id %>')"> View </button> -->
                  <a hef="admin/update/<%= data[i]._id %>" onclick="update('<%= data[i]._id %>') , showUp()" class="button hollow small ">Update</a>
                  <button onclick="del('<%= data[i]._id %>')" class="button hollow small alert">Delete</button>
                </figcaption>
              </figure>
            </div>
            <% } %>
      </div>

      <% include ../shop/model %>
    </div>

  </div>

  <% include ../temp/footer %>

    <script>
      var add = document.getElementById('add');
      var pro = document.getElementById('content');
      var upd = document.getElementById('update');
      function showadd() {
        open(add);
        // close(pro);
        close(upd);
      }
      function showpro() {
        open(pro);
        close(add);
        close(upd);
      }
      function showUp() {
        // close(pro);
        close(add);
      }
    </script>